.wrapper{
	display: grid;
	
	height: 100vh;
	
}
@media screen and (min-width:1px) {
    .article,.poems,.about{
		display:grid;
		grid-template-columns: 1fr; 
		gap: 2rem;
	}
}


@media screen and (min-width:768px)
{
  .article{
    display: grid;
	grid-template-columns: 1fr 1fr;
	gap:1rem;}
.poems{display: grid;
	grid-template-columns: 1fr;
	gap:1rem;}
.about{
    display: grid;
	grid-template-columns: 1fr 1fr;
	gap:1rem;}  
}

@media screen and (min-width:960px)
{

  .article{
    display: grid;
	grid-template-columns: 1fr 1fr;
	gap:1rem;}
.poems{display: grid;
	grid-template-columns: repeat(3,1fr);
	gap:1rem;}
.about{
    display: grid;
	grid-template-columns: 1fr 1fr;
	gap:1rem;}  
}
@media screen and (min-width:1280px)
{

  .article{
    display: grid;
	grid-template-columns: 1fr 1fr;
	gap:1rem;}
.poems{display: grid;
	grid-template-columns: repeat(3,1fr);
	gap:1rem;}
.about{
    display: grid;
	grid-template-columns: repeat(4,1fr);
	gap:1rem;}  
}

@media screen and (min-width: 1600px){
	.wrapper{
	
	max-width: 80em;
	margin:0 auto;
	}
	
}
